$nav-color: #1d3275;
$background-color: rgba(24, 87, 91, 0.1);
$employee-info: #636da7b0;
$manager-color: #b71111;
$dispatcher-color: #148017;
$middle-button-color: #e40f0f;

$truck-available: green;
$truck-in-service: gray;
$truck-in-process: orange;
$background-charts: white;
// $nav-color: #75391d;
// $background-color: rgba(91,30,24,0.1);
// $employee-info: #a77363b0;

$chat-color: #4491f3;